@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  background-color: #0e5575;

  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
/* .navbar h1 {
  background-color: #D8000C;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 3px;
  color: #f2f2f2;
} */
.navbar h1 {
  /* background-color: #750303; */
  background-color: #0e5575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 3px;
  color: #e5ff00;
  padding: 7px 20px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: #fffffe;
  /* color: #3571f1; */
  padding: 6px;
}
.navbar a:hover {
  color: #e5ff00;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog list styles */
.link-detail{
  text-decoration: none;
}

.todo-list h2{
  color: #0e5575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  text-decoration: underline #e5ff00;
}

.todo-preview{
  padding: 10px 16px;
  margin: 20 px 0 px;
  border-bottom: 0.5px solid #aadfdc;
  /* font-family: "Lucida Handwriting", "Brush Script MT", cursive; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.todo-preview:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.todo-preview h2{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0e5575;
  text-decoration: none;
  text-align: left;
  margin-bottom: 8px;
}
.todo-preview p{
  /* font-family: "Lucida Handwriting", "Brush Script MT", cursive; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.status-button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: right;
}
/* .detailButton{
  background-color: white; 
  color: black; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: auto;
  float: right;
  border: 2px solid #0e5575;
}

.detailButton:hover {
  background-color: #0e5575;
  color: #e5ff00;
} */

/* Loader */
.loader {
  border: 8px solid #f7ff87;
  /* border: 8px solid #f3f3f3; */
  border-radius: 50%;
  border-top: 8px solid #0e5575;
  /* border-top: 8px solid #D8000C; */
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -30px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error{
  color: #D8000C;
  background-color: #FFD2D2;
  margin:10px 22px;
  font-size:1em;
  vertical-align:middle;
}

.alert-deleted{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  background-color: #D8000C;
  color: rgb(255, 255, 255);
}

.task-head h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0e5575;
  text-decoration: underline #e5ff00;
  /* width: 200px; */
  text-align: center;
}
.task-head h2:hover{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0e5575;
  border-radius: 4px;
  text-decoration: underline #0e5575;
  color: #e5ff00;
  text-align: center;
}

.task-body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: lightgrey;
  width: 440px;
  border: 12px solid #012350;
  border-radius: 6px;
  padding: 50px;
  margin: 20px;
}

 .task-head{
  text-align: center;
}

.task-author{
  color: #0e5575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
}
.task-date{
  color: #0e5575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: right;
}

.complete-button{
  background-color: lightgrey;
  color: black; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: auto;
  border: 2px solid #0e5575;
  border-radius: 4px;
  float: right;
  padding: 10px 30px;
}

.complete-button:hover {
  background-color: #0e5575;
  color: #e5ff00;
}

.add-blog {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.alert-added {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  background-color: #70cf58;
  color: rgb(255, 255, 255);
}

.add-blog h2 {
  color: #0e5575;
  /* background-color: #b62129; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline #758017;
}
.add-blog h2:hover {
  color: #e5ff00;
  background-color: #0e5575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline #0e5575;
  border-radius: 3px;
}

.add-blog-form label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  padding: 3px;
}

.add-blog-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #0e5575;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add-blog-form input[type=text]:hover {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #f5e501;
  border-radius: 4px;
}

.add-blog-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #0e5575;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 4px;
}
.add-blog-form textarea:hover {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #f5e501;
  border-radius: 4px;
}

.add-blog-form button {
  background-color: #0e5575;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: auto;
  border-radius: 4px;
  padding: 10px 30px;
}
.add-blog-form button:hover {
  background-color: #0e5575;
  /* background-color: #f44336; */
  color: #e5ff00;
}

